@import "tailwindcss";

@keyframes hero-blur1 {
	0% {
		transform: scale(0.7) translateY(-40px);
		opacity: 0;
	}
	60% {
		opacity: 0.4;
	}
	100% {
		transform: scale(1) translateY(0);
		opacity: 0.4;
	}
}

@keyframes hero-blur2 {
	0% {
		transform: scale(0.7) translateY(40px);
		opacity: 0;
	}
	60% {
		opacity: 0.4;
	}
	100% {
		transform: scale(1) translateY(0);
		opacity: 0.4;
	}
}

.animate-hero-blur1 {
	animation: hero-blur1 1.2s cubic-bezier(0.4,0,0.2,1) forwards;
}
.animate-hero-blur2 {
	animation: hero-blur2 1.2s cubic-bezier(0.4,0,0.2,1) 0.2s forwards;
}
